
<suite thread-count="2" parallel="tests" name="Suite">

  <test name="Test3">
    <classes>
      <class name="com.test.Practice.ParallelExe1"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Test4">
    <classes>
      <class name="com.test.Practice.ParallelExe2"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
